.log_title {
    background-color: rgba(0, 0, 0, 0);
}

.image {
    background-image: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=-6527069497977903076&guid=e920314e2495cce4284d05ff15405697&type=3#console.warnicon@2x");
}
